.banner-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-black-500);
    /* padding: 0;
    margin: 0 auto; */
}
.banner-section .container {
  /* width: 100%;
  max-width: none; */
}
.two-column{
  display: grid;
  /* height: 400px; */
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: auto 300px; */
  align-items: stretch;
  gap: 2rem;
}

.image-background {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 55vh;
  width: 100%;
  background-color: black;
  position: relative; /* Establishes a positioning context for the image */
  /* height: 60vh; */
  /* padding: 32rem 0;  */
  overflow: visible; /* Ensures the image can extend beyond the black box */
}

.banner-image { /* Consistent class name */
  position: absolute; /* Removes the image from normal flow */
  top: -12%; /* Adjusts the overlap upwards */
  left: 47%; /* Centers the image horizontally */
  transform: translateX(-50%); /* Centers the image */
  height: 100%; /* Extend image height for overlap */
  width: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Prevent distortion */
  z-index: 1; /* Ensures the image is above the black box */
  pointer-events: none; /* Ensures the image doesn’t block interactions */
}

.banner-content {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  padding: 16rem 0;  
  /* justify-content: center; */
  gap: 1rem;
  
}

.booking-btn {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  /* align-self: center; */
  background-color: transparent;
  border: 3px solid var(--clr-black-500);
  border-radius: 10px;
  padding: 10px 48px;
  color: var(--clr-black-500);
  font-weight: var(--fw-bold);
  font-size: var(--fs-primary);
  line-height: normal;
  box-shadow: inset 0 0 0 0 transparent; /* Initially transparent */
  transition: background-color 1s ease, border-color .8s ease; /* Add transition for background-color and border-color */
}

.booking-btn:hover,
.booking-btn:focus {
  background-color: black; /* Change background on hover */
  border-color: black; /* Change border color on hover */
  color: var(--clr-base-0)
}

.booking-btn:hover {
  transition-delay: 0.3s; /* Delay the hover transition */
}

.booking-btn:hover,
.booking-btn:focus {
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out; /* Slowly transition back to original state */
}