/* adding spacing */
:where(.flow :not(:first-child)) {
    /* outline: 4px solid rebeccapurple; */
    margin-top: var(--flow-spacer, 1rem);
    margin-bottom: var(--flow-spacer, 1rem);;
}
.two-column {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Ensures two equal-width columns */
  gap: 16px;
  align-items: start;
    /* display: grid;
    gap: 16px;
    justify-content: center,
    align-items: center; */

    /* grid-template-columns: 1fr, 3fr; */

}
/* .h1 {
  text-align: center;
} */

.left-section-content {
  text-align: center;
  grid-column: 1;
}
.first-container-styling {
  text-align: left
    /* text-align: center; */
}
.btn2-design {
    margin: 0 10px;
    /* padding: 14px 56px */
}
.swiper-container {
    /* max-width: 100%; */
    /* overflow: hidden; */
    /* margin: 0 auto; */
}
/* .img {
    max-width: 100%;
    display: block;
} */


/* footer content call to action, hours, location */
.bottom-divider {
    /* font-family: Arial, sans-serif; */
    display: grid;
    grid-template-columns: 1fr 1fr auto;
  }
  
  .business-hours h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .business-hours li {
    margin-bottom: 1.2px;
  }
  
  .business-hours .day {
    font-weight: bold;
    margin-right: 5px;
  }
  .Location h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
@media (min-width: 50em) {
    .two-column {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
    .business-hours{
        display: grid;
    }

}